<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="d-flex form-container">
        <div class="col-md-6 p-0">
          <img src="https://images.unsplash.com/photo-1556740749-887f6717d7e4?fit=crop&w=500&q=80" alt="Register Image" class="w-100 h-100">
        </div>

        <div class="col-md-6 p-5">
          <h3 class="login-title mb-4 text-center">Create a New Account</h3>
          <form [formGroup]="userForm" (ngSubmit)="createUser()">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="User Name" formControlName="userName" required>
              <div *ngIf="userForm.get('userName')?.invalid && (userForm.get('userName')?.touched || userForm.get('userName')?.dirty)" class="text-danger">
                <small *ngIf="userForm.get('userName')?.errors?.['required']">Username is required.</small>
              </div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
              <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)" class="text-danger">
                <small *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</small>
                <small *ngIf="userForm.get('email')?.errors?.['email']">Invalid email format.</small>
              </div>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password" formControlName="password"  required>
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-custom" type="submit">Register</button>
            </div>
            <p class="mt-3 text-center">Already have an account? <a routerLink="/login" class="link-custom">Login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
